doctype html

html
  head
    title Ma Liste de Tâches
    style
      include style.css
  body
    #global
      h1 Ma Liste de Tâches
      ul
        a(href="/todo/triC") croissant |
        a(href="/todo/triD") | decroissant
        each todo, index in todolist
          li #{todo}
            a(href="/todo/supprimer/#{index}") X
            a(href="/todo/modif/#{index}") modif
            form(action="/todo/modif/#{index}" , method="get")
              input(type="text" , name="up#{index}" , id="up#{index}")
              input(type="submit")
      form(action="/todo/ajouter/" , method="post")
        p
          label(for="newtodo") Que dois-je faire ?
          input(type="text" , name="newtodo" , id="newtodo")
          input(type="submit")
